{{ define "main" }}
<main>
    {{ .Content }}
    <img src="/images/topimg.jpg" alt="Topimg" width="1500" height="1062" style="max-height: 70vh;">
    <h2>SNSリンク</h2>
    
    <a href="https://x.com/aa2295591843623" target="_blank" rel="noreferrer">X</a>
        &nbsp;
    <a href="https://www.instagram.com/sanaesato0531/" target="_blank" rel="noreferrer">Instagram</a>
        &nbsp;
    <a href="https://www.threads.net/@sanaesato0531" target="_blank" rel="noreferrer">Threads</a>
    &nbsp;
    <a href="https://youtube.com/@crowetcats?si=ujVvpLTqhjEMoADf" target="_blank" rel="noreferrer">YouTube</a>
        &nbsp;
    <a href="https://www.pixiv.net/users/114372563" target="_blank" rel="noreferrer">Pixiv</a>
    <h2>Latest Update</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Section</th>
            </tr>
        </thead>
        <tbody>
            {{ range first 5 .Site.RegularPages.ByDate.Reverse }}
            <tr>
                <td><time>{{ .Date | time.Format .Site.Params.date_format_2 }}</time></td>
                <td> <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if .Draft }}《下書き》{{ end }}
                </td>
                <td>{{ .CurrentSection.LinkTitle }}</td>
            </tr>
            {{ end }}

        </tbody>
    </table>
    <a href="/update/"><button>更新一覧</button></a>

   <p style="text-align: center;">
    <br><br>
    <a style="
    background: no-repeat center / 100% 100% url(images/book.svg);
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
    letter-spacing: .5em;
    color: var(--tx1);
    margin:auto;
    " href="/notebook"> &nbsp;NOTEBOOK</a>
   </p>
<br><br>

    <style>
        body{

}
            th:first-of-type,
        td:first-of-type {

            width: 13ch;
        }

        th:last-of-type,
        td:last-of-type {
            text-align: end;
            width: 10ch;
        }
    </style>
</main>


{{ end }}