:root {
    --bg1: #FFF;
    --bg2: #BDC3C7;

    --tx1: #000000;
    --tx2: #a0a0a0;
    --lk1: #08a100;
    --lk2: #08a100;
    --ac1: #008BE0;
    --ac2: #e2453f;
    --ac3: #f9ffa7;
    --ac4: #606060;
    --border: solid 0.02rem var(--tx2);
    --font-main: "Zen Old Mincho", serif;

    --font-mono: Consolas, "Courier New", Courier, Monaco, monospace;
    --font-weight: 500;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: var(--font-weight);
    text-decoration-thickness: 0.02rem;
    font-family: var(--font-main);
    overflow-wrap: break-word;
    word-break: break-word;
}



ul,
ol,
dl,
hr,
p,
figure,
pre,
blockquote,
details,
table,
article,
form,
video {
    margin: 1rem 0;
}

b,
strong {
    color: var(--ac2);
    -webkit-text-stroke: 0.03rem;
}

em,i{
    // color: var(--ac1);
}

[disabled] {
    visibility: hidden;
}

.monospace {
    font-family: var(--font-mono);
}

code,
pre,
kbd,
samp,
{
font-size: .95rem;
font-family: var(--font-mono);
}

figcaption,
small,
footer,
sub,
sup,
ruby rt,
.breadcrumb,
.footnotes {
    font-size: .8em !important;
}

body {
    max-width: 62em;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.02rem;
    line-height: 1.7;
    background: var(--bg1);
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--tx1);
    -webkit-font-smoothing: antialiased;

}


header,
footer {
    letter-spacing: 0.07em;
    line-height: 1.2;

}

header {
    margin-bottom: 3rem;
    margin-top: 1rem;
    position: sticky;
    top: 1rem;
    z-index: 1000;
    mix-blend-mode: difference;
    filter: contrast(1.2);

    nav {
        display: flex;
        align-items: center;
        gap: Max(2rem, 5vw);


        h1 {
            margin: 0;
            flex: 1 1 auto;

            img {
                margin: .4rem 0 0 0;
                max-width: 100%;
                max-height: Max(2.5rem, 3.5vw);
                filter: invert(1);
            }
        }

        a,
        a:visited {
            color: var(--bg1);
        }

        a {
            text-decoration: none;

        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: .5rem;
            flex-grow: 2;
            margin: 0;
            padding: 0;
        }
    }
}

footer {
    margin: 3rem 0;
    text-align: center;
}

section,
article,
{

h1:first-of-type,
h2:first-of-type,
h3:first-of-type {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
}

article {
    max-width: 55rem;
    margin: 0 auto;

    figure {
        width: calc(100% + 2rem);
        margin-left: -1rem;
    }
}

section {
    border-bottom: var(--border);
    padding: 1rem 0;

    &:first-of-type {
        border-top: var(--border);
    }

}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 2em 0 1rem;
    span::before{
        // content: "§ ";
        // color: var(--tx2);
    }
    &.title {
        text-align: center;
        text-wrap: balance;

    }
}


h1 {
    font-size: 1.5rem;

}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    text-align: justify;

    img {
        text-align: start;
    }

    &:empty {
        display: none;
    }
}

a {
    color: var(--lk1);
    text-decoration: none;
    &:visited {
        color: var(--lk2);
    }

    &:active {
        // color: var(--ac1);
    }


    sup {
        color: var(--tx1);
    }
}

abbr {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    cursor: help;

    &:hover,
    &:active {
        &::after {
            content: "：" attr(text);
            text-decoration: none;
            font-size: .9rem;
        }
    }
}


mark {
    background: var(--ac3);
}

code,
kbd {
    color: var(--ac4);
}

pre>code {
    background: transparent;
}

table {
    border-collapse: collapse;
    width: 100%;
    // table-layout: fixed;

    thead {
        font-size: .8rem;
    }

    tr {
        border-bottom: var(--border);
    }

    tbody {
        th {
            font-weight: normal;
        }
    }

    th,
    td {
        padding: .5rem;
        border: none;

        figure {
            max-width: 100%;
            margin: 0;
        }
    }
}



ul,
ol {
    padding-left: 2rem;

}

ul {
    list-style: disc;

}

ol {
    counter-reset: section;
    list-style-type: none;
    margin-left: -1em;

    li::before {
        counter-increment: section;
        content: counters(section, "–") ". ";

    }
}

dl {
    dt {
        // font-weight: bold;
        // color: var(--ac1);
    }
}

blockquote {
    border-left: var(--border);
    padding-left: 1rem;
}


:is(ol, ul) :is(ol, ul) {
    margin: 0;
}

ul,
ol,
th,
td {
    text-align: start;
    word-break: auto-phrase;
}


pre {
    max-width: 100%;
    overflow: auto;
    border: var(--border);
    padding: 1rem;
}

#TableOfContents {
    border: var(--border);
    padding: 1rem;

    ul,
    ol {
        margin: 0;
    }

    &::before {
        content: "もくじ";
    }
}


svg {
    vertical-align: bottom;
}

form {
    max-width: 100%;

}

input,
textarea {
    font-size: 1rem;
    border: none;
    // background: transparent;
    outline: none;
    // border-left: var(--border);
    max-width: 100%;
    min-height: 1em;
    padding: .2rem;
    margin: 0 .5rem .5rem 0;
    border-radius: 0;
    border: var(--border);

    &:focus-within {
        background: var(--bg2);
    }
}

input[type=button],
.btn {
    font-size: .95rem;
    color: var(--tx1);
    border: none;
    background: var(--lk2);
    padding: .5rem 1rem;
    margin: 0 .5rem .5rem 0;
    cursor: pointer;
    letter-spacing: 0.05em;

    &:active {
        // color: var(--bg1);
    }

    sup {
        color: var(--bg1);
    }
}

button,
a button {
    cursor: pointer;
    border: none;
    font-size: 1em;
    color: var(--lk1);
    padding: 0;
    background: transparent;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    letter-spacing: 0.05em;
    padding: 0;
    margin: 0 .5rem .5rem 0;

    &::before,
    &::after {
        color: var(--tx1);
    }

    &::before {
        content: "{ ";
    }

    &::after {
        content: " }";
    }

    &:active {
        // color: var(--ac1);
    }
}

figure {
    text-align: center;

    img {
        max-width: 100%;
        max-height: 90vh;
        width: 100%;
        height: auto;
        margin: 0;

    }

    figcaption {
        text-align: center;
        line-height: 1.2;
    }
}



img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    opacity: 1;
    transition: opacity .4s;
    object-fit: contain;
    object-position: top;

}


img[data-src] {
    opacity: 0;
}

hr {
    border: none;
    height: auto;
    margin: 1rem auto;
    width: 100%;
    border-bottom: var(--border);


    &.dinkus {
        width: 60%;
        margin: 1rem auto;
        border: none;

        &::after {
            content: "＊　＊　＊　＊　＊";
            display: block;
            text-align: center;
            color: var(--tx1);
            font-size: .9rem;
            text-align-last: justify;
        }
    }
}

details {
    margin-left: 1rem;

    summary {
        margin-left: -1rem;
        cursor: pointer;
    }

    *:first-of-type {
        margin-top: 0;
    }

    *:last-of-type {
        margin-bottom: 0;
    }
}

.footnotes {
    display: flex;
    justify-content: flex-end;

    hr {
        display: none;
    }

    p {
        margin: 0;
        display: inline;
    }

    ol {
        margin: 0;
        padding-left: 0;
        width: Min(70vw, 25rem);

        li {
            display: flex;

            &::before {
                counter-increment: section;
                content: "※" counter(section) "： ";
                flex: 0 0 auto;
            }
        }
    }

}

video {
    max-width: 100%;
}

.footnote-ref {
    &::before {
        content: "※";
    }

    &::after {
        content: "";
    }
}


blockquote,
.footnote-ref {
    figure {
        width: fit-content;
        margin: 0;
    }
}