{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<main class="{{ .Section }}-main">
  <article>
    <h1>NOTEBOOK</h1>
    <table>
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        {{ range (where .Site.RegularPages "CurrentSection.LinkTitle" "Notebook").Reverse}}

        <tr>
          <th>
            <a href="{{ .RelPermalink }}">
              <span>
                {{ .Title }}
              </span>
            </a>
          </th>
          <td>
            {{ .Params.description }}

          </td>
        </tr>

        {{ end }}
      </tbody>
    </table>
</article>
</main>

{{ end }}